=============== Windows: ===============
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

=============== My configurations: ===============
.idea/
__pycache__
*.txt
!ex15_sample.txt
!languages.txt
!exercise26.txt
